#card-header h2 {
    font-size: 30px;
}

button[type="submit"] {
    background: #d0ac04;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
}

#form-div {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 15%;
    margin-bottom: 50px;
}

#post-btn {
    position: relative;
    left: 105%;
}

#showpost {
    margin-top: 50px;
    margin-bottom: 50px;
}

#createcat {
    margin-top: 65px;
    margin-bottom: 50px;
}

#showcat {
    margin-top: 50px;
    margin-bottom: 50px;
}

div#container-div {
    text-align: center;
}

#post-img {
    width: 350px;
    height: 350px;
}

p#para-title {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 30px;
}

div#line-break {
    border-bottom: 2px solid #ccc;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

span {
    margin-bottom: 10px;
}

#form-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

#edit-btn {}