#card-header h2 {
    font-size: 30px;
}

button[type="submit"] {
    background: #d0ac04;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
}

#form-div {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 15%;
    margin-bottom: 50px;
}

#post-btn {
    position: relative;
    left: 105%;
}

#posts {
    margin-top: 30px;
}